node_modules/
android/.gradle/
android/app/build/
android/build/
android/app/google-services.json
*.keystore
*.jks
.env
vendor/
storage/logs/
storage/framework/
storage/app/public/*
!storage/app/public/.gitkeep
storage/firebase/*.json
!storage/firebase/README.md
*.pem
*.p12
